body{
    width: 1010px;
}

/* al div do l imm di sfondo con le relative caratteristiche */
.testata{
    height: 100px;
    background-color: deepskyblue;
    background-image: url(../img/pattern.png);
    background-size: contain;
    position: relative;
}

/* posiziono correttamente il logo */
.logo1{
    width: 10%;
    position: absolute;
    bottom: 5px;
}

h1{
    margin-bottom: 1px;
}

.sottotitolo{
    color: gray;
    display: block;
}

.sottotitolo2{
    color: gray;
    display: block;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: aqua;
}

.img-description{
    display: block;
    font-size: small;
}

.sottolineato{
    background-color: yellow;
}